{% extends "base.html" %} 
{% block keywords %}
<meta name="keywords" content="筷子招聘,招聘,宣讲会,现场实录">
{% endblock %}
 {% block title %}
<title>筷子招聘-首页</title>
{% endblock %} 
{% block nav%} 
{%endblock%} 

{% block content%}

<div class="container starter-template">
<div class="jumbotron">
			<div class="container">
			<h1>筷子招聘</h1>
							<p>招聘信息分享专家</p>
				<p>完整记录宣讲会内容，宅在寝室听宣讲会</p>
				<p>
					<a class="btn btn-primary btn-lg" role="button" href="/campustalk/">查看详情
						&raquo;</a>
				</p>
			</div>
		</div>
</div>
{%endblock%}

{% block weixin%} 


{% endblock %}


