{% extends "base.html" %}  

{% block title %}登陆{% endblock %}  
{% block nav%}
	<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right ">
					<li id='nav_login'  class="active"><a href="/users/login">登录</a></li>
					<li id='nav_signup'><a href="/users/signup">注册</a></li>
				</ul>
			</div>		
{%endblock%}