{% extends "base.html" %}  

{% block title %}µÇÂ½{% endblock %}  
{% block nav%}
	<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right ">
					<li id='nav_login' ><a href="/users/login">µÇÂ¼</a></li>
					<li id='nav_signup'  class="active"><a href="/users/signup">×¢²á</a></li>
				</ul>
			</div>		
{%endblock%}